@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.produto {
    display: flex;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 1 1 30px rgba(0, 0, 0, 0.1);
    justify-content: left;
}

.produto img {
    max-width: 350px;
    margin-right: 20px;
    border-radius: 40px;
}



.logo img {
    max-width: 200px;
    margin-right: 0px;
    position: center;
}

.info {
    max-width: 600px;
}

.info h2  {
    margin-bottom: 10px;
    font-size: 30px;
    text-transform: uppercase;
}

.info .descricao {
    margin-bottom: 8px;
    font-size: 18px;
    justify-content: left;
    text-align: left;
    
}

.info .preco {
    margin-bottom: 10px;
    font-size: 22px;
    color: #e60000;
}

.info .compra {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    
    
}

.info .comprar:hover {
    background-color: #555;
}

footer {
    background-color: #222222;
    color: #fff;
    text-align: center;
    padding: 15px ;
    margin-top: 20px;
}
footer p{
    text-align: center;
    color: rgb(141, 140, 140);
    font-size: 80%;
}
